@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'leaflet/dist/leaflet.css';

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #6376E8;
  --hover-color: #5A6BCE;
  --primary-black: #161616;
  --secondary-black: #868585;
  --background-color: #EDEFFF;
  --body-fonts: "Encode Sans Semi Condensed", sans-serif;
  --line-height: 1.5;
}


body {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Encode Sans Semi Condensed", sans-serif;
}

.navbar .navbar-collapse {
  flex-grow: 0 !important;
}

.dropdown-menu li a {
  text-transform: capitalize !important;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.primaryBtn {
  background: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
}

.primaryBtn:hover {
  background: #5A6BCE;
  color: white;

}

.secondaryBtn {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.secondaryBtn:hover {
  background: var(--primary-color);
  color: white;
}

.deskHide {
  display: inline-block;
}

.mobHide {
  display: none;
}

/* Medium devices (tablets, landscape phones) */
@media (max-width: 1024px) {
  .container {
    max-width: 980px;
    padding-left: 18px;
    padding-right: 18px;
  }
}

/* Small devices (mobile etc) */
@media (max-width: 600px) {
  .container {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .deskHide {
    display: none !important;
  }

  .mobHide {
  display: inline-flex !important;
}
}