@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  --primary-color: #6376E8;
  --primary-black:#161616;
  --secondary-black: #868585;
  --background-color: #EDEFFF;
  --body-fonts: "Encode Sans Semi Condensed", sans-serif;
  --line-height: 1.5;
}


body {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Encode Sans Semi Condensed", sans-serif;
}

.navbar .navbar-collapse{
    flex-grow: 0 !important;
}
