@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'leaflet/dist/leaflet.css';

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  --primary-color: #6376E8;
  --primary-black:#161616;
  --secondary-black: #868585;
  --background-color: #EDEFFF;
  --body-fonts: "Encode Sans Semi Condensed", sans-serif;
  --line-height: 1.5;
}


body {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Encode Sans Semi Condensed", sans-serif;
}

.navbar .navbar-collapse{
    flex-grow: 0 !important;
}

.dropdown-menu li a{
text-transform: capitalize !important;
}

.container {
  width: 100%;               /* Full width of screen by default */
  max-width: 1440px;         /* Your maximum readable content width */
  margin-left: auto;         /* Center horizontally */
  margin-right: auto;
  padding-left: 60px;        /* Horizontal padding for spacing */
  padding-right: 60px;
  box-sizing: border-box;
}

/* Medium devices (tablets, landscape phones) */
@media (max-width: 1024px) {
  .container {
    max-width: 980px;
    padding-left: 18px;
    padding-right: 18px;
  }
}

/* Small devices (mobile etc) */
@media (max-width: 600px) {
  .container {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
}